@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
html{
    scroll-behavior: smooth;
}
body{
    background: url(imagenes/fondo\ pagina.jpg);
    color: #383838;
    /* fondo principal*/
}
.container{
    max-width: 1000px;
    margin: 40px auto;
    border: 2px solid #383838;
}
/* SECCION INICIO */
.inicio h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    background-color: #383838;
    color: #ffee00;
    padding: 7px;
    border: #ffee00;
}
.inicio nav{
    display: flex;
    justify-content: space-between;
}
.inicio .nav-responsive{
    display: flex;
    display: none;
    justify-content: space-between;
}
.inicio .nav-responsive .opcion{
    padding: 15px 0;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    transition: .3s;
}
.inicio nav .opcion{
    padding: 15px 0;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    transition: .3s;
}
.inicio nav .opcion:hover{
    color: #fffb00;
    background-color: #383838;
}
.selected{
    background-color:#b4ffc9;
    color: #000;
}
.inf{
    border-bottom: 2px solid #383838;
}
.der{
    border-right: 2px solid #383838;
}
.sup{
    border-top: 2px solid #383838;
}
.inicio .fila{
    display: flex;
}
.inicio .fila .col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inicio .fila .col .info{
    padding: 50px;
}
.inicio .fila .col h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.inicio .fila .col p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 40px;
}
.inicio .fila .col .redes a{
    color: #383838;
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
}
.inicio .fila .col .redes a:hover{
    color:#7550bf;
    padding: auto;
    /*redes, link directo */
}
.inicio .fila .col .boton-descargar{
    position: absolute;
    bottom: 0;
    background-color: #cdb4ff;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #383838;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition: .3s;
}
.inicio .fila .col .boton-descargar:hover{
    background-color: #7550bf;
    color: #fff;
}
.inicio .fila .col img{
    width: 100%;
    display: block;
}
.separador{
    height: 50px;
}
/* SECCION HABILIDADES */
.titulo-seccion{
    font-family: 'satisfy';
    padding: 10px 20px;
    font-weight: bold;
    font-size: 35px;
}
.habilidades .fila{
    display: flex;
}
.habilidades .fila .col{
    padding: 50px 20px;
}
.habilidades .fila .col h3{
    margin-bottom: 7px;
}
.habilidades .fila .container-skill{
    width: 90%;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.habilidades .fila .container-skill .fill-skill{
    width: 0%;
    background-color: #383838;
    transition: 1s;
}

/* porcentajes */
.habilidades .fila .col:hover .container-skill #html{
    width: 95% 
}
.habilidades .fila .col:hover .container-skill #css{
    width: 98% 
}
.habilidades .fila .col:hover .container-skill #AdobePremiere{
    width: 80% 
}
.habilidades .fila .col:hover .container-skill #AfterEffects{
    width: 85% 
}
.habilidades .fila .col:hover .container-skill #Illustrator{
    width: 75% 
}
.habilidades .fila .col:hover .container-skill #photoshop{
    width: 75% 
}

/* Seccion porfolio*/
.porfolio .fila{
    display: flex;
}
.porfolio .fila .col{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.porfolio .fila .col h2{
    text-align: center;
    padding: 10px;
}
.porfolio .fila .col img{
    width: 100%;
    display: block;
    filter: grayscale();
    transition: .3s;
}
.porfolio .fila .col:hover img{
    filter: grayscale(0);
}
.porfolio .fila .col h2{
    margin-bottom: 7px;
    
}
.porfolio .fila .col p{
    margin-bottom: 5px;
    
}
.porfolio .fila .col .boton-ver{
    position: absolute;
    bottom: -50px;
    opacity: 0;
    background-color:#7550bf;
    display: block;
    width: 50%;
    text-decoration: none;
    color:#fff;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    transition: .2s;     /*tiempo que tarda en cargar*/
}
.porfolio .fila .col:hover .boton-ver{
    bottom: 0;
    opacity: 1;
}

/* secion de contacto */
.contacto .fila{
    background-color: #383838;
    color: #fff;
    display: flex;
    padding: 40px 20px;
    align-self: center;
}
.contacto .fila .col label{
    display: block;
    margin-bottom: 7px;
}
.contacto .fila .col{
    width: 50%;
}
.contacto .fila .col input{
    width: 80%;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.contacto .fila .col textarea{
    width: 80%;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    height: 150px;
}
.contacto .fila .col .btn-enviar{
    background-color: #cdb4ff;
    display: block;
    width: 80%;
    text-decoration: none;
    color: #383838;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}
.contacto .fila .col .btn-enviar:hover{
    background-color: #ffee00;
    color: #000000;
}
.contacto .fila .info{
    display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}
.contacto .fila .info h2{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffee00;
    font-weight: bold;
}

/* secion de volver a la pagina de inicio*/
.btn-ini {
    position: fixed;
    width: 50px; 
    height: 50px;
    line-height: 50px; 
    bottom: 30px;
    right: 30px; 
    background: rgba(251, 255, 0, 0.774); /* Fondo blanco semitransparente */
    color: #383838; /* Color principal */
    text-align: center; /* Centrar el contenido */
    border-radius: 50%; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Sombra suave */
    font-size: 24px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
}

.btn-ini:hover {
    background-color: #eeff00; /* Cambia el fondo al pasar el mouse */
    color: #383838; /* Cambia el color del ícono al pasar el mouse */
    transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada en hover */
}

.btn-ini i {
    font-size: 22px; /* Tamaño del ícono */
    vertical-align: middle;
}
/* seccion responsive */
@media (max-width: 600px) {
    .btn-ini {
        width: 40px; /* Ajuste para pantallas más pequeñas */
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
    }
}
/* seccion responsive */
@media screen and (max-width: 600px) {
    .inicio nav{
        display: none;
    }
    .inicio .nav-responsive{
        display: flex;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
        display: block;
    }

    .inicio .fila .col .info{
        padding: 100px;
    }

    .inicio .fila .col .boton-descargar{
        position: relative;
    }
    .inicio .fila .col img{
        width: 50%;
        margin: auto;
    }
    .habilidades .fila{
        display: block;
    }
    .porfolio .fila {
        display: block;
    }
    .porfolio .fila .col img{
        width: 80%;
        margin: auto;
    }
   
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
    .contacto .fila .col input{
        width: 100%;
    }
    .contacto .fila .col textarea{
        width: 100%;
    }
    .contacto .fila .col .boton-enviar{
        margin: auto;
        width: 100%;
    }
}